@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 20px;
  background: #dbdde8;
  font-family: "Roboto", sans-serif;
  color: #4b5563;
}

main {
  max-width: 500px;
  margin: 0 auto;
}

footer {
  text-align: center;
  margin: 2.5em 0;
}

section {
  background: #ffffff;
  padding: 2em;
  border-radius: 0.75rem;
  line-height: 1.6;
  overflow: hidden;
  margin-top: 2rem;
  position: relative;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.008),
    0 6.7px 5.3px rgba(0, 0, 0, 0.012), 0 12.5px 10px rgba(0, 0, 0, 0.015),
    0 22.3px 17.9px rgba(0, 0, 0, 0.018), 0 41.8px 33.4px rgba(0, 0, 0, 0.022),
    0 100px 80px rgba(0, 0, 0, 0.03);

  h1 {
    font-weight: 500;
    font-size: 1.25rem;
    color: black;
    margin-bottom: 0.75rem;
  }

  p {
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
  }

  code {
    font-weight: 500;
    font-family: Consolas, monaco, monospace;
    position: relative;
    z-index: 1;
    margin: 0 2px;
    background: #f3f4f4;
    content: "";
    border-radius: 3px;
    padding: 2px 5px;
    white-space: nowrap;
  }
}

details {
  margin-top: 1.5em;
  background: #f1f1f1;
  margin: -2em;
  margin-top: 2em;
  padding: 1.5em 2em;

  .gist {
    margin-top: 1.5em;
  }

  .toggle-code {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 0.875rem;
    background: #10b981;
    top: 1em;
    right: 1em;
    color: white;
    font-weight: 500;
    user-select: none;
    cursor: pointer;

    svg {
      display: inline-block;
      vertical-align: -15%;
      margin-right: 0.25em;
    }
  }

  summary {
    outline: none;
    list-style-type: none;

    &::marker {
      display: none;
    }

    &::-webkit-details-marker {
      display: none;
    }
  }
}
