
//  ----------------- THE CSS

:root {

  // Sizing
  --nf-input-size: 1rem;
  --nf-small-font-size: .875rem;

  // Font family
  --nf-input-font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  --nf-label-font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  // Input
  --nf-input-color: #20242f;
  --nf-input-border-radius: .25rem;
  --nf-input-placeholder-color: #979cae;
  --nf-input-border-color: #c0c4c9;
  --nf-input-border-bottom-width: 2px;
  --nf-input-focus-border-color: #3b4ce2;
  --nf-input-background-color: #f9f9f9;

  // Valid/invalid
  --nf-invalid-input-border-color: red;
  --nf-invalid-input-background-color: #ffe5e5;
  --nf-invalid-input-color: var(--nf-invalid-input-border-color);
  --nf-valid-input-border-color: green;
  --nf-valid-input-background-color: #e5f2e5;
  --nf-valid-input-color: inherit;

  // Label variables
  --nf-label-font-size: var(--nf-small-font-size);
  --nf-label-color: #20242f;
  
  // Slider variables
  --nf-slider-track-background: rgba(0,0,0,.125);
  --nf-slider-track-focus-background: rgba(0,0,0,.35);
  --nf-slider-track-height: calc(var(--nf-input-size) / 3);
  --nf-slider-thumb-size: calc(var(--nf-input-size) * 1.25);
  --nf-slider-track-border-radius: var(--nf-slider-track-height);
  --nf-slider-thumb-border-width: 2px;
  --nf-slider-thumb-border-color: #ffffff;
}

fieldset {
  margin-top: 1rem;

  legend {
    font-weight: bold;
    display: block;
    color: var(--nf-label-color);
    font-size: var(--nf-label-font-size);
    font-family: var(--nf-label-font-family);
    margin-bottom: calc(var(--nf-input-size) / 2);
  }

  > nf-form-group {
    margin-top: .5rem;
  }
}


nf-form-group {
  display: block;
  max-width: 600px;
  margin-top: 1rem;
  position: relative;

  // ------------- LABEL
  
  > label {
    font-weight: bold;
    display: block;
    color: var(--nf-label-color);
    font-size: var(--nf-label-font-size);
    font-family: var(--nf-label-font-family);
    margin-bottom: .5rem;

    + small {
      
      font-style: initial;
    }
  }

  // ------------- SMALL

  small {
    font-family: var(--nf-input-font-family);
    display: block;
    font-weight: normal;
    opacity: .65;
    font-size: var(--nf-small-font-size);
    margin-bottom: .75rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  > input[type="text"],
  > input[type="checkbox"],
  > input[type="radio"],
  > input[type="email"],
  > input[type="password"],
  > input[type="number"],
  > input[type="date"],
  > input[type="week"],
  > input[type="time"],
  > input[type="month"],
  > textarea,
  > select {
    background: rgba(0,0,0,.025);
    font-family: inherit;
    font-size: var(--nf-input-size);
    border-color: var(--nf-input-border-color);
    border-width: 1px;
    border-style: solid;
    appearance: none;
    font-family: var(--nf-input-font-family);
    border-radius: var(--nf-input-border-radius);
    border-bottom-width: var(--nf-input-border-bottom-width);
    transition: all .15s ease-out;
    color: var(--nf-input-color);
    width: 100%;
    padding: calc(var(--nf-input-size) * .75);
    height: calc(var(--nf-input-size) * 2.75);
    line-height: normal;
    margin:  calc(var(--nf-input-size) / 4) 0;

    // ------------- VALID/INVALID

    &:required {

      &:invalid,
      &:valid {
        background-position: right calc(var(--nf-input-size) * .75) bottom 50%;
        background-repeat: no-repeat;
        background-size: var(--nf-input-size);
      }

      &:invalid {
        background-color: var(--nf-invalid-input-background-color);
        border-color: var(--nf-invalid-input-border-color);
        color: var(--nf-invalid-input-color);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='red' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-alert-triangle'%3E%3Cpath d='M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z'/%3E%3Cline x1='12' y1='9' x2='12' y2='13'/%3E%3Cline x1='12' y1='17' x2='12.01' y2='17'/%3E%3C/svg%3E");
      }

      &:valid {
        border-color: var(--nf-valid-input-border-color);
        background-color: var(--nf-valid-input-background-color);
        color: var(--nf-valid-input-color);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='green' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3E%3Cpolyline points='20 6 9 17 4 12'/%3E%3C/svg%3E");
      }
    }

    // ------------- DISABLED

    &:disabled {
      cursor: not-allowed;
      opacity: .5;
    }

    // -------- PLACEHOLDERS

    &::-webkit-input-placeholder { color: var(--nf-input-placeholder-color); letter-spacing: 0; }
    &:-ms-input-placeholder      { color: var(--nf-input-placeholder-color); letter-spacing: 0; }
    &::-moz-placeholder          { color: var(--nf-input-placeholder-color); letter-spacing: 0; }
    &:-moz-placeholder           { color: var(--nf-input-placeholder-color); letter-spacing: 0; }

    &:focus {
      outline: none;
      border-color: var(--nf-input-focus-border-color);
    }

    + small {
      margin-top: .25rem;
    }

    &.icon-left {
      background-position: left calc(var(--nf-input-size) * .75) bottom 50%;
      padding-left: calc(var(--nf-input-size) * 2.5);
      background-size: var(--nf-input-size);
    }

    &.icon-right {
      background-position: right calc(var(--nf-input-size) * .75) bottom 50%;
      padding-right: calc(var(--nf-input-size) * 2.5);
      background-size: var(--nf-input-size);
    }
  }

  // -------- PASSWORD

  > input[type="password"] {
    letter-spacing: 2px;

    &[class^='icon'] {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-lock'%3E%3Crect x='3' y='11' width='18' height='11' rx='2' ry='2'/%3E%3Cpath d='M7 11V7a5 5 0 0 1 10 0v4'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }
  }

  // -------- RANGE

  > input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    // NOTE: for some reason grouping these doesn't work (just like :placeholder)

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: var(--nf-slider-track-height);
      background: var(--nf-slider-track-background);
      border-radius: var(--nf-slider-track-border-radius);
    }

    &::-moz-range-track {
      width: 100%;
      height: var(--nf-slider-track-height);
      background: var(--nf-slider-track-background);
      border-radius: var(--nf-slider-track-border-radius);
    }

    &::-webkit-slider-thumb {
      height: var(--nf-slider-thumb-size);
      width:  var(--nf-slider-thumb-size);
      border-radius: var(--nf-slider-thumb-size);
      background: var(--nf-input-focus-border-color);
      border: var(--nf-slider-thumb-border-width) solid var(--nf-slider-thumb-border-color);
      -webkit-appearance: none;
      margin-top: -7px;
    }

    &:focus::-webkit-slider-thumb {
      box-shadow: 0 0 0 3px white inset;
      border: 2px solid var(--nf-input-focus-border-color);
  }

    &::-moz-range-thumb {
      height: var(--nf-slider-thumb-size);
      width:  var(--nf-slider-thumb-size);
      border-radius: var(--nf-slider-thumb-size);
      background: var(--nf-input-focus-border-color);
      border: 2px solid #ffffff;
      box-sizing: border-box;
    }

    &:focus::-moz-range-thumb {
        box-shadow: 0 0 0 3px white inset;
        border: 2px solid var(--nf-input-focus-border-color);
    }
    
  }

  // -------- COLOR

  > input[type="color"] {
    border-color: var(--nf-input-border-color);
    height: calc(var(--nf-input-size) * 2);
    border-radius: var(--nf-input-border-radius);

    &:focus {
      outline: none;
      border-color: var(--nf-input-focus-border-color);
    }

    &::-webkit-color-swatch-wrapper {
      padding: 5%;

    }

    &::-webkit-color-swatch {
      border-radius: calc(var(--nf-input-border-radius) / 2);
      border: none;
    }
  }

  // --------------- NUMBER

  > input[type="number"] {
    width: auto;
  }

  // --------------- DATES

  > input[type="date"],
  > input[type="week"],
  > input[type="time"],
  > input[type="month"] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-calendar'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'/%3E%3Cline x1='16' y1='2' x2='16' y2='6'/%3E%3Cline x1='8' y1='2' x2='8' y2='6'/%3E%3Cline x1='3' y1='10' x2='21' y2='10'/%3E%3C/svg%3E");
    background-position: right calc(var(--nf-input-size) * .75) bottom 50%;
    background-repeat: no-repeat;
    background-size: var(--nf-input-size);
    width: auto;

    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      -webkit-appearance: none;
      cursor: pointer;
    }
  }

  // --------------- TEXAREA

  > textarea {
    height: auto;
  }

  // --------------- CHECKBOX

  > input[type="checkbox"],
  > input[type="radio"] {
    width: var(--nf-input-size);
    height: var(--nf-input-size);
    padding: inherit;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    border-radius: calc(var(--nf-input-border-radius) / 2);
    border-width: 1px;
    cursor: pointer;

    &:focus:not(:checked) {
      box-shadow: 0 0 0 1px  var(--nf-input-focus-border-color) inset;

      + label {
        color: var(--nf-input-focus-border-color);

        small {
          color: var(--nf-label-color);
        }
      }
    }

    + label {
      display: inline-block;
      margin-bottom: 0;
      padding-left: calc(var(--nf-input-size) / 2.5);
      font-weight: normal;
      user-select: none;
      cursor: pointer;
      max-width: calc(100% - calc(var(--nf-input-size) * 2));
      line-height: normal;

      > small {
        margin-top: calc(var(--nf-input-size) / 4);
      }
    }
  }

  > input[type="checkbox"] {
    &:checked {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23FFFFFF' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3E%3Cpolyline points='20 6 9 17 4 12'/%3E%3C/svg%3E") no-repeat center center/85%;
      background-color: var(--nf-input-focus-border-color);
      border-color: var(--nf-input-focus-border-color);
    }
  }

  > input[type="radio"] {
    border-radius: 100%;

    &:checked {
      background-color: var(--nf-input-focus-border-color);
      border-color: var(--nf-input-focus-border-color);
      box-shadow: 0 0 0 3px white inset;
    }
  }

  > input[type="file"] {
    background: rgba(0,0,0,.025);
    padding: var(--nf-input-size);
    display: block;
    width: 100%;
    border-radius: var(--nf-input-border-radius);
    border: 2px dashed var(--nf-input-border-color);

    &::-webkit-file-upload-button {
      background: #10B981;
      border: 0;
      appearance: none;
      padding: .5rem;
      border-radius: var(--nf-input-border-radius);
      font-weight: bold;
      color: white;
      margin-right: 1rem;

    }
  }

  // ---------------- SELECT

  > select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
    background-position: right calc(var(--nf-input-size) * .75) bottom 50%;
    background-repeat: no-repeat;
    background-size: var(--nf-input-size);
  }
}
